footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  color: #fff;
  background-color: black;
  height: 70px;
}
.button {
  height: 50px;
  width: 50px;
  backdrop-filter: blur(5px);
}
